In [11]:
import pandas as pd
import numpy as np
from sklearn.model_selection  import train_test_split

In [2]:
df = pd.read_csv("data/data.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [4]:
df.describe().round(2)

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
count,11914.00,11845.00,11884.00,11908.00,11914.00,11914.00,11914.00,11914.00
mean,2010.38,249.39,5.63,3.44,26.64,19.73,1554.91,40594.74
std,7.58,109.19,1.78,0.88,8.86,8.99,1441.86,60109.10
min,1990.00,55.00,0.00,2.00,12.00,7.00,2.00,2000.00
25%,2007.00,170.00,4.00,2.00,22.00,16.00,549.00,21000.00
50%,2015.00,227.00,6.00,4.00,26.00,18.00,1385.00,29995.00
75%,2016.00,300.00,6.00,4.00,30.00,22.00,2009.00,42231.25
max,2017.00,1001.00,16.00,4.00,354.00,137.00,5657.00,2065902.00

In [5]:
df.count()/len(df) # Market category appears to have more N/A missing values

Make                 1.000000
Model                1.000000
Year                 1.000000
Engine Fuel Type     0.999748
Engine HP            0.994208
Engine Cylinders     0.997482
Transmission Type    1.000000
Driven_Wheels        1.000000
Number of Doors      0.999496
Market Category      0.685916
Vehicle Size         1.000000
Vehicle Style        1.000000
highway MPG          1.000000
city mpg             1.000000
Popularity           1.000000
MSRP                 1.000000
dtype: float64

In [6]:
# Original column names
selected_columns = ['Make', 'Model', 'Year', 'Engine HP', 'Engine Cylinders', 'Transmission Type', 'Vehicle Style', 'highway MPG', 'city mpg', 'MSRP']
# Create new column names
new_columns = [col.lower().replace(' ', '_') for col in selected_columns]
# Create a mapping of old names to new names
column_mapping = dict(zip(selected_columns, new_columns))
# Rename columns in the DataFrame
df = df.rename(columns=column_mapping)
numeric_columns = df[new_columns].select_dtypes(include='number').columns.tolist()
df[numeric_columns]= df[numeric_columns].fillna(0)

In [7]:
avg = df['msrp'].mean()
df['above_average'] = df['msrp'].apply(lambda x: 1 if x > avg else 0)

In [35]:
X = df[new_columns + ['above_average']].drop(columns='msrp')
y = df['msrp']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4,  random_state=42)